.main{
    background-color: rgba(69, 115, 144, 0.151);
}
.card-container{
    padding-top:50px;
}
.card-container img{
    width:80px;
    height:80px;
    object-fit: cover;
    margin-right:30px;
    
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media only screen and (max-width: 600px){
    .main{
        display: flex!important;
        flex-direction: column-reverse!important;

    }
    .cards-container{
        display: flex;
        flex-direction: column;
    }
    .cards-container Card{
        width:100%;
    }
}