.card-width{
    /* width:30%; */
    margin-bottom:30px;
    margin-top:30px;
}

.card-width .card-image{
    height:140px!important;
    border-radius:15px;
}
.card-des{
    height:150px;
}
.card-width Button{
    display: block;
    margin:0 auto;
}

@media only screen and (max-width: 600px){
    .card-width .card{
        width:100%!important;
    }
}